<ng-container *ngIf="control?.errors?.required">
  {{'app.error.msg-1' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.minlength">
  {{'app.error.msg-6' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.maxlength">
  {{'app.error.msg-7' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.pattern">
  {{'app.error.msg-8' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.numberRequired">
  {{'app.error.msg-9' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.uppercaseCharacterRule">
  {{'app.error.msg-10' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.lowercaseCharacterRule">
  {{'app.error.msg-11' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.digitCharacterRule">
  {{'app.error.msg-12' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.specialCharacterRule">
  {{'app.error.msg-13' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.alphabeticalCharacterRule">
  {{'app.error.msg-14' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.allowedCharacterRule">
  {{'app.error.msg-15' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.mismatchedPasswords">
  {{'app.error.msg-16' | translate}}
</ng-container>
<ng-container *ngIf="control?.errors?.email">
  {{'app.error.msg-17' | translate}}
</ng-container>